* {

    user-select: none;

    font-family: 'Courier New', Courier, monospace;

    margin: 10px;

}

button {

    cursor: pointer;
}

.random-topic-background {

    background-color: yellow;
    margin: 10px;
}

.generator {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}